API_ID= 34695387
API_HASH= 92ac3a8b5e6c5dcdca2bb11c0666631d
BOT_TOKEN= 8598839902:AAFRO4z8pTExuzoZ-lE7TR57FbxggsblelY
LOGGER_ID= -1003463303972
MONGO_DB_URI= mongodb+srv://mrsugandh32_db_user:Z5MaLWYeODhjpTG5@baby.0kx5sfm.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 8013091544
STRING_SESSION= BQIRaNsAoPlQ6A67TPssCMzE3yFbE50wTxF3oTAAgZmIapgEh2xo7zGiWeE4V2xBLg_MMRg_pEZn0ORjh9uaIsdJ7X4mf0P-WYQg-WmeR7PAkykwEmC3S0BNxstF3drJTSi0yKFOImoWTD30C8UiTME8BzCwQ1ULyOAUhgKsNOYcxmZo9hdmasZB-31YuK6wHAaCmn-IL8jRN2eIwpRy9NtSebOZKx68eMUM-H8Dyqqr3_uzCtHJnEEA7qw2XFr3y_RHs5H9hckYvmciyHwcWP4aEiLOe3R_eitjEn1n-e7SwHG7nqK0aCftXOeW6pZ9k3YGU_IiL_dKXro8pFuxjckLlim40gAAAAGnXQpBAA
